In [27]:
import cx_Oracle
import pandas as pd

db = cx_Oracle.connect("C##kpr_user","1234",'localhost:1521/xe')
cursor = db.cursor()
cursor.execute('select * from DEMO23')
x = cursor.fetchall()
df = pd.DataFrame(x)
cursor.execute("select column_name from user_tab_columns where table_name = 'DEMO23'")
col = cursor.fetchall()
list1 = []
for i in col:
    for j in i:
        list1.append(j)
df.columns = list1
df.head()

DatabaseError: ORA-01017: 사용자명/비밀번호가 부적합, 로그온할 수 없습니다.

In [3]:
import pandas as pd

excel_file = pd.ExcelFile('cal.xlsx')  # ExcelFile 객체 생성
dfs = []  # 시트 데이터를 저장할 리스트 생성

for sheet_name in excel_file.sheet_names:
    df = excel_file.parse(sheet_name)  # 시트별로 데이터프레임 읽기
    dfs.append(df)  # 리스트에 데이터프레임 추가

merged_df = pd.concat(dfs)  # 데이터프레임들을 합치기

# 합쳐진 데이터프레임 확인
print(merged_df)

C:\Users\thkkk\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

           고객번호  연령대   거주지역     구매금액   증감        구매일자 임의코드분류명    분기  고객유형  \
0       17485.0  장년층  100.0   2000.0   증가  20150921.0     B식품  15_3  충성고객
1       17485.0  장년층  100.0   1250.0   증가  20150921.0     B식품  15_3  충성고객
2       17485.0  장년층  100.0  23790.0   증가  20150921.0     B식품  15_3  충성고객
3       17485.0  장년층  100.0  25600.0   증가  20150921.0     B식품  15_3  충성고객
4       17485.0  장년층  100.0  12800.0   증가  20150921.0     B식품  15_3  충성고객
...         ...  ...    ...      ...  ...         ...     ...   ...   ...
296999      NaN  NaN    NaN      NaN  NaN         NaN     NaN   NaN   NaN
297000      NaN  NaN    NaN      NaN  NaN         NaN     NaN   NaN   NaN
297001      NaN  NaN    NaN      NaN  NaN         NaN     NaN   NaN   NaN
297002      NaN  NaN    NaN      NaN  NaN         NaN     NaN   NaN   NaN
0           NaN  NaN    NaN      NaN  NaN         NaN     NaN   NaN   NaN

                                               Unnamed: 0 Unnamed: 1  \
0                                                     NaN        NaN
1                                                     NaN        NaN
2                                                     NaN        NaN
3                                                     NaN        NaN
4                                                     NaN        NaN
...                                                   ...        ...
296999                                               8331        중년층
297000                                               8331        중년층
297001                                              13243        장년층
297002                                              13657        청년층
0       select "고객번호" "고객번호", "연령대" "연령대", "거주지역" "거주지...        NaN

        Unnamed: 2  Unnamed: 3 Unnamed: 4  Unnamed: 5 Unnamed: 6 Unnamed: 7  \
0              NaN         NaN        NaN         NaN        NaN        NaN
1              NaN         NaN        NaN         NaN        NaN        NaN
2              NaN         NaN        NaN         NaN        NaN        NaN
3              NaN         NaN        NaN         NaN        NaN        NaN
4              NaN         NaN        NaN         NaN        NaN        NaN
...            ...         ...        ...         ...        ...        ...
296999       210.0      3950.0         증가  20151103.0        B식품       15_4
297000       210.0      2300.0         증가  20151103.0        B식품       15_4
297001       210.0       990.0         증가  20151103.0        B식품       15_4
297002       210.0      2520.0         증가  20151104.0        B식품       15_4
0              NaN         NaN        NaN         NaN        NaN        NaN

       Unnamed: 8
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
...           ...
296999       충성고객
297000       충성고객
297001       충성고객
297002       충성고객
0             NaN

[28593031 rows x 18 columns]

In [ ]:
import cx_Oracle
import pandas as pd

# Oracle 데이터베이스에 연결
db = cx_Oracle.connect("c##kpr_user","1234",'localhost:1521/xe')
cursor = db.cursor()

# DEMO23 테이블의 데이터 가져오기
cursor.execute('select * from DEMO23')
x = cursor.fetchall()
df = pd.DataFrame(x)

# 컬럼명 가져오기
cursor.execute("select column_name from user_tab_columns where table_name = 'DEMO23'")
col = cursor.fetchall()
list1 = [i[0] for i in col]

# 데이터프레임의 컬럼명 설정
df.columns = list1

# 결과 확인
df.head()

In [ ]:
import pandas as pd
df = pd.read_excel('cal.xlsx')

C:\Users\thkkk\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [4]:
df.head()

                                          Unnamed: 0
0  select "고객번호" "고객번호", "연령대" "연령대", "거주지역" "거주지...